{
    "goss_entry_file": "goss/goss.yaml",
    "goss_inspect_mode": "true",
    "goss_skip_install": "true",
    "goss_download_path": "C:\\ProgramData\\Temp\\goss.exe",
    "goss_remote_folder": "C:\\goss",
    "goss_remote_path": "C:\\goss"
}
