{
    {# vCenter server IP or FQDN #}
    "vcenter_server":"",
    {# vCenter username #}
    "username":"",
    {# vCenter user password #}
    "password":"",
    {# Datacenter name where packer creates the VM for customization #}
    "datacenter":"",
    {# Datastore name for the VM #}
    "datastore":"",
    {# [Optional] Folder name #}
    "folder":"",
    {# Cluster name where packer creates the VM for customization #}
    "cluster": "",
    {# Packer VM network #}
    "network": "VM Network",
    {# To use insecure connection with vCenter  #}
    "insecure_connection": "true",
    {# TO create a clone of the Packer VM after customization#}
    "linked_clone": "true",
    {# To create a snapshot of the Packer VM after customization #}
    "create_snapshot": "true",
    {% if os_type.startswith("windows-") %}
    {# [Optional] Windows only: Windows OS Image #}
    "os_iso_path": "[sharedVmfs-0] windows.iso",
    {# [Optional] Windows only: VMware Tools Image #}
    "vmtools_iso_path": "[sharedVmfs-0] vmtools.iso",
    {% endif %}
    {# To destroy Packer VM after Image Build is completed #}
    "destroy": "true"
}
