{
    "custom_role_names": "/image-builder/images/capi/image/ansible",
    "distro_version": "22.04",
    "extra_debs": "unzip iptables-persistent nfs-common dkms",
    "boot_disable_ipv6": "1",
    "ip_settle_timeout": "15m"
}
