{
    {# [Optional] Windows only: Windows OS Image #}
    "os_iso_path": "[sharedVmfs-0] windows.iso",
    {# [Optional] Windows only: VMware Tools Image #}
    "vmtools_iso_path": "[sharedVmfs-0] vmtools.iso"
}
