# Copyright 2023 VMware, Inc.
# SPDX-License-Identifier: MPL-2.0
---
- name: Modify /bin/sh to point to bash instead of dash
  shell: "{{ item }}"
  with_items:
    - echo "dash dash/sh boolean false" |  debconf-set-selections
    - DEBIAN_FRONTEND=noninteractive dpkg-reconfigure dash

- name: Mask systemd-timesyncd unit
  ansible.builtin.systemd:
    masked: true
    name: systemd-timesyncd.service
